# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.25-12-19 game of life.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
